@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #151515;
    padding: 14px 0 14px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu-item {
    padding-right: 50px;
    color: #fff;
    list-style: none;
}

.menu-link {
    color: inherit;
    text-decoration: none;
}

.menu-link-news {
    color: inherit;
    text-decoration: none;
    background-color: #4985BD;
    padding: 14px;
    border-radius: 10px;
}

.logo_black-img {
    height: 35px;
}

.logo-white {
    display: none;
}

.video {
    height: 200px;
    margin-top: 50px;
    
}

.info {
    background-color: #303030;
    height: 200px;
    margin-top: 80px;
    border-radius: 30px;
}

.whatnews {
    text-align: center;
    color: #fff;
    padding-top: 25px;
}

.info-text {
    color: #fff;
    padding-top: 30px;
    padding-left: 41px;
    font-size: 25px;
    line-height: 35px;
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 998px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 375px) {
    .header {
        padding: 19px 0 19px;
        background-color: #fff;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    }

    .container {

    }

    .nav {

    }

    .menu {
        display: none;
    }

    .logo {
        display: none;
    }

    .logo-white {
        display: flex;
        padding-left: 37px;
    }

    .logo_white-img {
        height: 35px;
    }

    .menu-bar {
        padding-right: 37px;
    }

    .video {
        margin-top: 27px;
        padding-left: 28px;
        padding-right: 28px;
        height: 240px;
    }

    .info {
        background-color: #151515;
        height: 120px;
        margin-right: 28px;
        margin-left: 28px;
        margin-top: 27px;
        border-radius: 30px;
    }
    
    .whatnews {
        text-align: center;
        color: #fff;
        padding-top: 40px;
    }
}